.banner {
  color: #fff;
  background: #333;
  padding: 2rem 0rem 2rem 30rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  height: 11rem;
  display: flex;
  flex-direction: column;
}

figure figcaption .date {
  opacity: 0.5;
  font-size: small;
  font-weight: 500;
}

figcaption {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

h2 {
  margin-bottom: 2rem;
}

.user-detail {
  display: flex;
  gap: 1rem;
}

.user-detail .edit-btn,
.delete-btn {
  width: 7rem;
  height: 2rem;
  background-color: transparent;
  margin-top: 0.9rem;
  border-radius: 0.2rem;
}

.user-detail .edit-btn {
  margin-left: 2rem;
  color: white;
  font-size: smaller;
  border: 1px solid white;
}
