.banner {
  color: #fff;
  background: #333;
  padding:  2rem 0rem 2rem 30rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  height: 11rem;
  display: flex;
  flex-direction: column;
}

figcaption{
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

h2{
  margin-bottom: 2rem;
}

.user-detail{
  display: flex;
  gap: 1rem;
}

.edit-btn,.delete-btn{
  width: 7rem;
  height: 1.5rem;
}
