.myArticle-container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 57rem;
  margin-left: 31rem;
  margin-bottom: 0.5rem;
  padding: 1.5rem 0rem 1rem 0;
}

.user-like-container {
  display: flex;
  justify-content: space-between;
}
.loading {
  margin-top: 1rem;
  margin-left: 32rem;
}

 .user-like-container .user-detail {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.user-like-container .like {
  align-self: flex-end;
  margin-top: 0;
  border: 1px solid green;
  width: 2.5rem;
  height: auto;
  padding: 2px;
  border-radius: 0.25rem;
}

.user-like-container .like span {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
}

.user-detail small {
  opacity: 0.4;
}

.user-detail a {
  color: #379237;
  text-decoration: none;
}

.user-detail a:hover {
  color: #3d8b3d;
  text-decoration: underline;
}

.myArticle-container span {
  opacity: 0.3;
  font-weight: 200;
}

.article-body {
  display: flex;
  flex-direction: column;
}

.article-body a {
  text-decoration: none;
  justify-self: flex-end;
  color: black;
  opacity: 0.2;
}
