/* .active {
  color: #5cb85c;
} */

/* .sub-menu p:active {
} */

.container {
  /* border: 2px solid grey; */
  position: relative;
  box-sizing: border-box;
  margin: 2rem 3.5rem 0rem 3.5rem;
  height: 90vh;
}
.out-container {
  /* border: 2px solid grey; */
  position: relative;
  box-sizing: border-box;
  margin: 1rem 3.5rem 0rem 3.5rem;
  height: 90vh;
}

.articles {
  position: absolute;
  top: 5rem;
  left: 0;
}

.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 55rem;
  position: absolute;
  top: 1.5rem;
  left: 10rem;
}

.line .sub-menu {
  display: flex;
}

.home-sub-menu .btn{
   background-color: transparent;
  border: none;
  margin: 0rem 1rem 0.5rem 0.2rem;
  color: #999;
}

.home-sub-menu .btn:focus{
  color: green;
}

.home-sub-menu .alt-btn{
  background-color: transparent;
  border: none;
  margin: 0rem 1rem 0.5rem 0.2rem;
  color: green;
}




