.container {
  /* border: 2px solid grey; */
  position: relative;
  box-sizing: border-box;
  margin: 1rem 3.5rem 0rem 3.5rem;
  height: 90vh;
}

.articles {
  position: absolute;
  top: 13%;
  left: 15%;
}

.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 67rem;
  position: absolute;
  top: 8%;
  left: 15%;
}

.line .sub-menu {
  display: flex;
}

.sub-menu a {
  text-decoration: none;
  margin-right: 1.5rem;
  padding-bottom: 7px;
  cursor: pointer;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

/* .active {
  color: #5cb85c;
} */

/* .sub-menu p:active {
} */

.tags {
  width: 250px;
  position: absolute;
  top: 2%;
  right: 10%;
  background-color: #f3f3f3;
  padding: 4px;
  border-radius: 8px;
}

.tags div {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.tags ul {
  display: inline-block;
  flex-direction: row;
  list-style: none;
  margin: 3px 0 3px 3px;
}

.tags ul li {
  border: 0.5px solid grey;
  border-radius: 10rem;
  background-color: #818a91;
  color: white;
  padding: 3px;
  margin: 1px;
}

.tags ul li:hover {
  background-color: #687077;
}

.tags p {
  align-self: flex-start;
  margin: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}
